{% extends "..\Templates\master.html" %}

{% load static %}

{% block tituloLeft %}
<a class="navbar-brand" href="{% url 'index' %}" title="Home">Volver a la portada</a>
{% endblock %}

{% block contenido %}


<div class="container px-5 py-5">

    <h3>Mis posteos</h3>
    <br></br>
    {% for post in posts %}
    <li>{{ post.titulo }}  
    👉 <a class="btn btn-info btn-sm" href="{% url 'verPost' post.id %}">Leer</a>
    
    {% if usuario == post.autor  %}<!--para mostrar el boton al "Duenio"-->
    ✏️ <a class="btn btn-success btn-sm" href="{% url 'editarPost' post.id %}">Editar</a>
    🗑  <a class="btn btn-danger btn-sm" href="{% url 'eliminarPost' post.id %}">Eliminar</a>
    {% endif %}
    {% endfor %}
</div>


{% endblock %}